@use './node_modules/include-media/dist/include-media' as *;
@use '../../assets/scss/vars' as *;
@use '../../assets/scss/mixins' as *;

.contacts {
  @include white-text();

  perspective: 800px;
  overflow: hidden;
  padding: var(--content-padding-block) var(--content-padding-inline);

  &_highlighted .contacts__content {
    will-change: transform;
    animation: contacts-animation 200ms;
  }

  &__title {
    text-align: center;
    font-weight: 600;
  }

  &__phone {
    white-space: nowrap;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  &__label {
    text-shadow: 0 0 4px rgba(black, 80%);
    font-weight: 600;
    color: #c0a0ff;
  }

  &__value {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    *:not(:last-child) {
      margin-right: 5px;
    }
  }

  @include media (">=sm") {
    .contacts__value {
      padding-left: 0.5rem;
    }

    p {
      flex-direction: row;
    }
  }
}

@keyframes contacts-animation {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}
