@use './node_modules/include-media/dist/include-media' as *;
@use '../../assets/scss/vars' as *;

.info {
  font-size: 14px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
  height: calc(100vh - var(--header-height));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/i/three-lights.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 80%;
    filter: contrast(0.8) brightness(0.6);
  }

  @include media("<md") {
    padding: 24px 0;
  }

  @include media(">=sm") {
    font-size: 16px;
  }

  @include media(">=md") {
    font-size: 18px;
  }

  @include media(">=xl") {
    font-size: 20px;
  }

  @include media(">=xxl") {
    font-size: 22px;
  }

  &__title {
    @include media("<lg") {
      display: none;
    }

    text-align: center;
    font-size: 48px;
    position: relative;
    line-height: 100%;
    margin: 0;
    font-weight: 700;
    color: white;
    padding-bottom: 16px;

    &::first-letter {
      color: red;
    }

    @include media("<xxl") {
      font-size: 44px;
    }

    @include media("<xl") {
      font-size: 40px;
    }

    @include media("<md") {
      font-size: 36px;
    }

    @include media("<sm") {
      font-size: 30px;
    }
  }

  &__content {
    p:last-child {
      margin: 0;
    }

    @include media(">=md") {
      justify-content: flex-start !important;
    }

    @include media(">=xl") {
      justify-content: center !important;
    }
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    width: 100%;
    max-width: 200px;
    filter: drop-shadow(0 0 16px rgba(255, 255, 255, 1));
  }
}
