@use './node_modules/include-media/dist/include-media' as *;
@use '../../assets/scss/vars' as *;
@use '../../assets/scss/mixins' as *;

.info {
  @include box-shadow();

  font-size: 14px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: var(--content-padding-block) 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/i/three-lights.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 80%;
    filter: contrast(0.8) brightness(0.6);
  }

  @include media(">=sm") {
    font-size: 16px;
  }

  @include media(">=md") {
    font-size: 18px;
  }

  @include media(">=xl") {
    font-size: 20px;
  }

  @include media(">=xl", "landscape") {
    min-height: calc(100vh - var(--header-height));
    justify-content: center;
  }

  @include media(">=xxl") {
    font-size: 22px;
  }

  &__title {
    text-align: center;
    font-size: 30px;
    position: relative;
    line-height: 100%;
    margin: 0;
    font-weight: 700;
    color: white;
    padding-bottom: 16px;

    &::first-letter {
      color: red;
    }

    @include media(">=md") {
      font-size: 40px;
      padding-bottom: 32px;
    }

    @include media(">=lg") {
      font-size: 44px;
    }

    @include media(">=xl") {
      font-size: 56px;
      padding-bottom: 56px;
    }
  }

  &__content {
    p:last-child {
      margin: 0;
    }

    @include media(">=xl") {
      justify-content: center !important;
    }
  }

  &__logo-wrapper {
    text-align: center;

    @include media(">=md") {
      padding: 10px 0;
    }
  }

  &__logo {
    width: 100%;
    filter: drop-shadow(0 0 16px rgba(255, 255, 255, 1));

    @include media(">=md") {
      max-width: 120px;
    }

    @include media(">=lg") {
      max-width: 400px;
    }
  }
}
