@use './node_modules/include-media/dist/include-media' as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/vars" as *;

.rent {
  @include box-shadow();

  padding: var(--content-padding-block) var(--content-padding-inline);
  background: var(--c-light-bg);

  &__img {
    @include box-shadow();

    width: 100%;
    max-width: 515px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    @include media("<lg") {
      margin-bottom: 32px;
    }
  }

  &__title {
    text-align: center;
  }
}
