@use "../../assets/scss/vars" as *;
@use "../../assets/scss/mixins" as *;
@use "../../../node_modules/include-media" as *;

.brands {
  @include white-text();

  padding: var(--content-padding-block) var(--content-padding-inline);

  &__title {
    text-align: center;
  }

  &__subtitle {
    font-weight: 600;
    text-align: center;
  }

  &__list {
    width: 40%;
    margin: 0 auto;
  }
}
