@use './node_modules/include-media/dist/include-media' as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/vars" as *;

.repair {

  &__content {
    @include box-shadow();

    padding: var(--content-padding-block) var(--content-padding-inline);
    background: var(--c-light-bg);
  }

  &__img {
    @include box-shadow();

    width: 100%;
    max-width: 647px;

    @include media("<md") {
      margin-top: 32px;
    }
  }
}
