@use './node_modules/include-media/dist/include-media' as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/vars" as *;

.repair {

  &__content {
    padding: var(--content-padding-block) var(--content-padding-inline);
    background: var(--c-light-bg);
  }

  &__img-1 {
    @include box-shadow();

    width: 100%;
    max-width: 647px;

    @include media("<md") {
      margin-top: 32px;
    }
  }

  .invisible {
    transform: translateY(10px);
    opacity: 0;
  }

  .visible {
    transition: all var(--animation-duration);
  }
}
