@use './node_modules/include-media/dist/include-media' as *;
@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/vars" as *;

.callback {
  @include box-shadow-inset();

  padding: var(--content-padding-block) var(--content-padding-inline);

  &__card {
    @include box-shadow();

    @include media("<sm") {
      padding: 24px;
    }

    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    background: var(--c-light-bg);
    padding: 40px;
    position: relative;

    label {
      font-weight: 500;
      color: black;
    }

    &-title {
      text-align: center;
      font-weight: 700;
      margin-bottom: 1em;
      font-size: 24px;
    }

    &-error {
      color: var(--c-error);
      position: absolute;
      bottom: 10px;
      left: 0;
      font-size: 14px;
      width: 100%;
      text-align: center;
      display: none;
    }

    &-success {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;

      &-img {
        width: 100px;
        margin-bottom: 40px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
      }

      &-title {
        text-align: center;
        font-weight: 500;
      }
    }

    &-spin {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--c-light-bg);
      border-radius: 4px;
      display: none;
      justify-content: center;
      align-items: center;
    }

    &.invisible {
      transform: translateY(10px);
      opacity: 0;
    }

    &.visible {
      transition: all var(--animation-duration);
    }
  }

  &_sent {
    .callback__card-success {
      display: flex;
      opacity: 1;
    }

    .callback__card-content {
      opacity: 0;
    }
  }

  &_error {
    .callback__card-error {
      display: block;
    }
  }

  &_loading {
    * {
      transition: none !important;
    }

    label {
      color: var(--c-gray);
    }

    .callback__card-spin {
      display: flex;
    }
  }

  &__select {
    width: 100%;
  }
}
